{% extends 'users/layout.html' %}

{% load static %}

{% block extend_head %}
<title>Categories - Cybergolden</title>
<link rel="stylesheet" href="{% static 'general/css/style.css' %}">
{% endblock %}

{% block content %} 
  <div class="container-fluid">
    <h3 class="text-dark mb-4">Categorías</h3>
    <div class="card shadow">
        <div class="card-header d-flex justify-content-between align-items-center flex-wrap py-3">
            <p class="text-primary flex-grow-0 flex-shrink-1 m-0 fw-bold" style="display: inline-block;margin: 5px;">Categorías creadas</p><button class="btn btn-primary flex-grow-0 flex-shrink-1" type="button" style="margin: 5px;"><i class="fas fa-plus"></i>&nbsp;Crear categoría</button>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Trajes</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr></tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <!-- <div class="card shadow">
      <div class="card-header d-flex justify-content-between align-items-center flex-wrap py-3">
          <p class="text-primary flex-grow-0 flex-shrink-1 m-0 fw-bold" style="display: inline-block;margin: 5px;">Crear categoría</p>
      </div>
      <div class="card-body">
          <form class="d-flex justify-content-center flex-wrap"><input class="form-control" type="text" placeholder="Nombre de la categoría..." style="margin: 5px;max-width: 100%;"><button class="btn btn-primary" type="button" style="margin: 5px;width: 100px;">Crear</button></form>
      </div>
    </div> -->
    
  </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'users/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'users/assets/js/bs-init.js' %}"></script>
    <script src="{% static 'users/assets/js/theme.js' %}"></script>
    <script src="{% static 'products/js/categories.js' %}"></script>
{% endblock %}