{% extends 'users/layout.html' %} {% load static %} {% block extend_head %}
<title>Categorías - Cybergolden</title>
<link rel="stylesheet" href="{% static 'users/assets/css/layout.css' %}" />
<link rel="stylesheet" href="{% static 'products/css/categories.css' %}" />
{% endblock %} {% block content %} {% csrf_token %}
<div class="container-fluid">
  <div id="show-categories-container">
    <div class="card shadow">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">Categorías</h3>
          {% if is_staff %}
            <a
              href="{% url 'products:create_category' %}"
              id="create-category-btn"
              class="btn btn-primary"
              type="button"
              ><i class="fas fa-plus"></i>&nbsp;Crear categoría</a
            >
          {% endif %}
        </div>
        <div
          class="table-responsive category-table"
          id="dataTable-1"
          role="grid"
          aria-describedby="dataTable_info"
        >
          <table class="table my-0 table-striped table-hover" id="dataTable">
            <thead>
              {% if categories %}
              <tr>
                <th scope="col">Nombre</th>
                {% if is_staff %}
                  <th class="text-end" scope="col">Acciones</th>
                {% endif %}
              </tr>
              {% endif %}
            </thead>
            <tbody class="categories-table">
              {% if categories %} 
                {% for category in categories %} 
                  {% if loop.last %}
                    <tr class="hoverable-row last-row">
                      <td class="category-name">{{ category.name }}</td>
                      {% if is_staff %}
                        <td class="text-end">
                          <button
                            class="btn btn-danger btn-sm delete-category-btn"
                            data-id="{{ category.id }}"
                            data-name="{{ category.name }}"
                            type="button"
                          >
                            <i
                              class="far fa-trash-alt"
                              data-id="{{ category.id }}"
                              data-name="{{ category.name }}"
                            ></i>
                          </button>
                          <button
                            class="btn btn-primary btn-sm update-category-btn"
                            data-id="{{ category.id }}"
                            data-name="{{ category.name }}"
                            type="button"
                          >
                            <i
                              class="far fa-edit"
                              data-id="{{ category.id }}"
                              data-name="{{ category.name }}"
                            ></i>
                          </button>
                        </td>
                      {% endif %}
                    </tr>
                  {% else %}
                    <tr class="hoverable-row">
                      <td class="category-name">{{ category.name }}</td>
                      {% if is_staff %}
                        <td class="text-end">
                          <button
                            class="btn btn-danger btn-sm delete-category-btn"
                            data-id="{{ category.id }}"
                            data-name="{{ category.name }}"
                            type="button"
                          >
                            <i
                              class="far fa-trash-alt"
                              data-id="{{ category.id }}"
                              data-name="{{ category.name }}"
                            ></i>
                          </button>
                          <a
                            href="{% url 'products:update_category' category.id %}"
                            class="btn btn-primary btn-sm update-category-btn"
                            data-id="{{ category.id }}"
                            data-name="{{ category.name }}"
                            type="button"
                            ><i
                              class="far fa-edit"
                              data-id="{{ category.id }}"
                              data-name="{{ category.name }}"
                            ></i
                          ></a>
                        </td>
                      {% endif %}
                    </tr>
                  {% endif %} 
                {% endfor %} 
              {% else %}
                <tr>
                  <td colspan="2" class="text-center">
                    No hay categorías para mostrar.
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{% static 'users/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'users/assets/js/bs-init.js' %}"></script>
<script src="{% static 'users/assets/js/theme.js' %}"></script>
<script src="{% static 'products/js/categories.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% endblock %}
