{% extends 'users/layout.html' %}

{% load static %}

{% block extend_head %}
<title>Productos - Cybergolden</title>
<link rel="stylesheet" href="{% static 'users/assets/css/layout.css' %}">
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div id="show-categories-container">
    <div id="products-container">
      <div class="card shadow">

        <!-- Encabezado de la tarjeta -->
        <div class="card-header d-flex justify-content-between align-items-center flex-wrap py-3">
          <p class="text-primary flex-grow-0 flex-shrink-1 m-0 fw-bold">Productos</p>
          <div class="d-flex">
            <button class="btn btn-danger btn-sm btn-icon delete-row-btn me-3" type="button">
              <i class="far fa-trash-alt"></i>
            </button>
            <a href="{% url 'products:create_product' %}" id="create-category-btn" class="btn btn-primary" type="button">
              <i class="fas fa-plus"></i>&nbsp;Crear producto
            </a>
          </div>
        </div>

        <!-- Cuerpo de la tarjeta -->
        <div class="card-body">

          <!-- Barra de búsqueda -->
          <div class="row mb-3">
            <div class="col-md-4">
              <div class="input-group">
                <input id="searchInput" type="text" class="form-control form-control-sm" placeholder="Buscar producto...">
              </div>
            </div>
          </div>

          <!-- Tabla -->
          <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
              <thead>
                <tr>                  
                  <th class="text-center"><input type="checkbox"></th>
                  <th class="text-center">Nombre</th>
                  <th class="text-center">Categoría</th>
                  <th class="text-center">Costo producción/compra</th>
                  <th class="text-center">Costo logística</th>
                  <th class="text-center">Costo total</th>
                  <th class="text-center">Margen de logística</th>
                  <th class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="text-center"><input type="checkbox"></th>
                  <td class="text-center"><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg">Traje negro cab</td>
                  <td class="text-center">Trajes</td>
                  <td class="text-center">$450</td>
                  <td class="text-center">$200</td>
                  <td class="text-center">$650</td>
                  <td class="text-center">30.76%</td>   
                  <td class="text-center">
                    <button class="btn btn-primary btn-sm" type="button">
                      <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" type="button">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th class="text-center"><input type="checkbox"></th>
                  <td class="text-center"><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg">Traje negro cab</td>
                  <td class="text-center">Trajes</td>
                  <td class="text-center">$450</td>
                  <td class="text-center">$200</td>
                  <td class="text-center">$650</td>
                  <td class="text-center">30.76%</td>   
                  <td class="text-center">
                    <button class="btn btn-primary btn-sm" type="button">
                      <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" type="button">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th class="text-center"><input type="checkbox"></th>
                  <td class="text-center"><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg">Traje negro cab</td>
                  <td class="text-center">Trajes</td>
                  <td class="text-center">$450</td>
                  <td class="text-center">$200</td>
                  <td class="text-center">$650</td>
                  <td class="text-center">30.76%</td>   
                  <td class="text-center">
                    <button class="btn btn-primary btn-sm" type="button">
                      <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" type="button">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <th class="text-center"><input type="checkbox"></th>
                  <td class="text-center"><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg">Camisa azul cab</td>
                  <td class="text-center">Camisas</td>
                  <td class="text-center">$100</td>
                  <td class="text-center">$50</td>
                  <td class="text-center">$150</td>
                  <td class="text-center">33.33%</td>   
                  <td class="text-center">
                    <button class="btn btn-primary btn-sm" type="button">
                      <i class="far fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" type="button">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
          
          
          
          
          
            

      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'users/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'users/assets/js/bs-init.js' %}"></script>
    <script src="{% static 'users/assets/js/theme.js' %}"></script>
    <script src="{% static 'products/js/products.js' %}"></script>
{% endblock %}